* {
  box-sizing: border-box;
}

header, footer {
  position: fixed;
  height: 40px;
  width: 100vw;
  max-width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

header {
  top: 0;
}

footer {
  left: 0;
  right: 0;
  bottom: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #e8ecf2;
  overflow-x: hidden;
  p {
    text-align: center;
  }
}

.flex-row {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  width: 100vw;
  padding: 50px;
  a {
    text-transform: uppercase;
    font-family: Helvetica, monospace;
    font-weight: lighter;
    font-size: 20px;
    text-decoration: none;
    position: relative;
    color: black;
    // -webkit-transition: all .5s ease;
    // -moz-transition: all .5s ease;
    // -o-transition: all .5s ease;
    transition: all .5s ease;
  }
  a:hover {
    color: grey;
    letter-spacing: 2px;
  }
}
